/* Layout */
html {
	box-sizing: border-box;
}

body {
	background: #dddddd;
	color: 333333;
	margin: 0;
	padding: 20px;
}

.pb-container {
	display: flex;
	flex-direction: row;
}

#pb-canvas-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#pb-canvas-tools {
	margin-bottom: 0.5em;
}

#pb-canvas {
	width: 100%;
	max-width: 544px;
	background: grey;
	image-rendering: -moz-crisp-edges;
  	image-rendering: -webkit-crisp-edges;
  	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

#pb-canvas-tools .selected {
	background: green;
	color: #dddddd;
}

#pb-editor-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#pb-editor {
	height: 100%;
	margin-bottom: 1empx;
	position: relative;
	border: 1px solid black;
}

#pb-editor-tools {
	margin-bottom: 0.5em;
}

#pb-output {
	background: lightgrey;
	color: black;
	padding: 1em;
	margin: 0;
	border-radius: 5px;
	white-space: pre-wrap;
}

/* CodeMirror styles */
.CodeMirror {
	width: 100%;
	height: 100%;
}

.gutter-breakpoints {
	width: 16px;
}

.highlighted-line {
	background:lightcoral;
}

.compiler-error {
	text-decoration: underline red;
}