* {
	box-sizing: border-box;
}

body {
	background: #252526;
	color:#ffffff;
	margin: 0;
	padding: 20px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
	font-size: 16px;
}

#pb-main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

#pb-canvas-container {
	user-select: none;
	max-width: 600px;
	width: 40%;
}

#pb-editor-and-debugger {
	display: flex;
	height: 100%;
	width: 60%;
}

#pb-code-editor {
	width: 70%;
	flex: 1;
	display: flex;
	flex-direction: column;
}

#pb-debugger {
	width: 30%;
	min-width: 250px;
	max-width: 250px;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#pb-debugger input {
	width: 23%;
	margin: 0;

}

#pb-debugger input[disabled] {
	color: #888888;
}

#pb-debugger-locals-callstack {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#pb-debugger-locals {
	flex: 1;
	background: #252526;
	color: #ffffff;
}

#pb-debugger-callstack {
	flex: 1;
	background: #252526;
	color: #ffffff;
}

.pb-debugger-label {
	padding: 0.25em 0.5em;
	font-size: 14px;
	font-weight: 500;
	background: #333333;
	color: #828282;
}

.pb-debugger-callstack-frame {
	padding: 0 1em 0 1em;
	background: #252526;
	color: #ffffff;
}

.pb-debugger-local {
	padding: 0 1em 0 1em;
	background: #252526;
	color: #ffffff;
}

#pb-debugger-vm {
	display: none;
	flex: 1;
	overflow: auto;
	margin: 1em 0 0 1em;
	font-family: monospace;
	background: #252526;
	color: #ffffff;
	white-space: pre;
}

.selected {
	background: rgba(76, 175, 80, 0.32);
}

#pb-code-editor-code-mirror {
	width: 100%;
	flex: 1;
	overflow: auto;
}

#pb-code-editor-error {
	font-family: monospace;
	overflow: auto;
	background: #cc0000;
	color: #eeeeee;
	padding: 1em;
}

#pb-canvas {
	width: 100%;
}

/* CodeMirror styles */
.CodeMirror {
	width: 100%;
	height: 100%;
	font-family: Monaco, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px
}

.CodeMirror-gutter {
	margin-right: 0.5em;
}

.gutter-breakpoints {
	width: 16px;
}

.highlighted-line {
	background:lightcoral;
}

.compiler-error {
	text-decoration: underline red;
}