* {
	box-sizing: border-box;
}

a {
	color: orange;
    text-decoration: none;
    background-color: transparent;
}

body {
	background: #252526;
	color:#ffffff;
	margin: 0;
	padding: 20px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
	font-size: 16px;
}

table, th, td {
	border: none;
 }

#pb-main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#pb-toolbar {
	width: 100%;
	padding: 0.25em 1em 0.25em 1em;
	background: #252526;
	border-bottom: 1px solid #ffa500c7;
	display: flex;
	flex-direction: row;
}

.far, .fal, .fas {
	margin-right: 0.5rem;
}


#pb-toolbar-logo {
	font-size: 2em;
	padding: 0em;
	padding-right: 0.5em;
	font-weight: 500;
	color: hsla(39, 80%, 50%, 1);
}

#pb-toolbar-title {
	flex: 1;
	vertical-align: middle;
	align-self: center;
	background: none;
	border: 0;
	outline: 0;
	color: #aaaaaa;
	font-size: 16px;
	text-align: center;
}
#pb-toolbar-title:focus {
	border-color: #ffffff;
	color: #ffffff;
	border-bottom: 2px solid #aaaaaa;
}

.pb-toolbar-button {
	vertical-align: middle;
	height: 100%;
	align-self: center;
	padding: 0 0.5em;
	color: #aaaaaa;
	cursor: pointer;
}

.pb-toolbar-button:hover {
	color: #ffffff;
}

.pb-toolbar-button[disabled] {
	color: rgba(1, 1, 1, 0.2);
	cursor: default;
	opacity: 0.4;
}

.pb-input-field {
	width: 100%;
	height: 30px;
	background: #555;
	border: 0;
	outline: 0;
	color: #aaaaaa;
	font-size: 20px;
	text-align: left;
	border-radius: 5px;
	padding: 0 0.5em;
	margin-bottom: 0.5em;
}

.pb-input-field:focus {
	border-color: #ffffff;
	color: #ffffff;
}

#pb-playground-and-description {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	background: #252526;
}

#pb-canvas-container {
	user-select: none !important;
	padding: 0.5em;
	max-width: 600px;
	width: 100%;
}

#pb-canvas {
	width: 100%;
	max-width: 544px;
}

#pb-editor-and-debugger {
	display: flex;
	height: 100%;
	width: 100%;
}

#pb-editor-and-docs {
	display: flex;
	flex: 1;
	flex-direction: column;
    width: 0px;
}

#pb-code-editor {
	display: flex;
	flex: 1;
	flex-direction: column;
}

#pb-docs {
	flex: 1;
	padding: 0 1em 0 1em;
	background: #1e1e1e;
	overflow: auto;
	position: relative;
}

#pb-docs h1 {
	margin-top: 0;
}

#pb-docs a {
	color: orange;
    text-decoration: none;
    background-color: transparent;
}

.pb-docs-toc-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pb-docs-toc-list li {
	line-height: 2;
	cursor: pointer;
}

.pb-docs-toc-list code:hover {
	background: #666666 !important;
}

#pb-docs code {
	padding: 0.2em 0.4em;
    margin: 0;
	color: orange;
    background-color: #333333;
    border-radius: 3px;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

#pb-docs hr {
	color: #1e1e1e;
	border-color: #555;
	border-style: solid;
}

#pb-debugger {
	width: 250px;
	min-width: 250px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#pb-debugger-locals-callstack {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#pb-debugger-locals {
	flex: 1;
	background: #252526;
	color: #ffffff;
}

#pb-debugger-callstack {
	flex: 1;
	background: #252526;
	color: #ffffff;
}

.pb-label {
	padding: 0.25em 0.5em;
	font-size: 14px;
	font-weight: 500;
	background: #333333;
	color: #828282;
	cursor: pointer;
}

.pb-label:hover {
	background: #444;
}

.pb-debugger-callstack-frame {
	padding: 0 1em 0 1em;
	background: #252526;
	color: #ffffff;
}

.pb-debugger-local {
	padding: 0 1em 0 1em;
	background: #252526;
	color: #ffffff;
}

#pb-debugger-vm {
	display: none;
	flex: 1;
	overflow: auto;
	margin: 1em 0 0 1em;
	font-family: monospace;
	background: #252526;
	color: #ffffff;
	white-space: pre;
}

#pb-debugger-buttons {
	display: flex;
	flex-direction: row;
}

.pb-debugger-button {
	width: 32px;
	height: 32px;
	background-size: 16px;
	background-position: 50%;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	opacity: 1;
}

.pb-debugger-button:hover {
	border: 1px solid #828282;
}

.pb-debugger-button[disabled] {
	color: rgba(1, 1, 1, 0.2);
	cursor: default;
	opacity: 0.4;
}

.pb-debugger-run-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23252526}.icon-canvas-transparent{opacity:0}.icon-vs-action-green{fill:%2389d185}%3C/style%3E%3C/defs%3E%3Ctitle%3Econtinue%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/%3E%3Cpath class='icon-vs-action-green' d='M4 1.5v13L12.667 8 4 1.5z' id='iconBg'/%3E%3C/svg%3E");
	fill: green;
}

.pb-debugger-debug-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23252526}.icon-canvas-transparent{opacity:0}.icon-vs-action-green{fill:%23f48771}%3C/style%3E%3C/defs%3E%3Ctitle%3Econtinue%3C/title%3E%3Cpath class='icon-vs-action-green' d='M8.667 10.325v2.832c0 .308.06.843-.249.843H7.333v-.667H8v-2.126l-.115-.12a2.362 2.362 0 0 1-3.113.072C4 10.385 4.079 9.333 4.917 8h-2.25v.667H2V7.582c0-.309.535-.249.843-.249h2.736zm-2-6.992H6v-.666h1.3c.307 0 .7.147.7.455v2.23l.491.583a1.3 1.3 0 0 1 1.276-1.14.6.6 0 0 1 .233.026V3.333h.667v1.746a.413.413 0 0 0 .255.255h1.745V6h-1.489c.018 0 .028.1.028.2a1.31 1.31 0 0 1-1.141 1.288l.583.512h2.231c.308 0 .455.389.455.7V10h-.667v-.667h-1.68l-4.32-4.2zM8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zm6.667 8a6.634 6.634 0 0 1-1.508 4.216L3.784 2.841A6.662 6.662 0 0 1 14.667 8zM1.333 8a6.633 6.633 0 0 1 1.508-4.216l9.375 9.376A6.663 6.663 0 0 1 1.333 8z' id='iconBg'/%3E%3C/svg%3E");
}

.pb-debugger-continue-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23252526}.icon-canvas-transparent{opacity:0}.icon-vs-action-blue{fill:%2375beff}%3C/style%3E%3C/defs%3E%3Ctitle%3Econtinue%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/%3E%3Cpath class='icon-vs-action-blue' d='M3 3h2v10H3zm4.5 0v10L14 8z' id='iconBg'/%3E%3C/svg%3E");
}

.pb-debugger-pause-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23252526}.icon-canvas-transparent{opacity:0}.icon-vs-action-blue{fill:%2375beff}%3C/style%3E%3C/defs%3E%3Ctitle%3Epause%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/%3E%3Cpath class='icon-vs-action-blue' d='M4 3h2.5v10H4zm5.5 0v10H12V3z' id='iconBg'/%3E%3C/svg%3E");
}

.pb-debugger-step-over-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23252526}.icon-canvas-transparent{opacity:0}.icon-vs-bg{fill:%23c5c5c5}.icon-vs-action-blue{fill:%2375beff}%3C/style%3E%3C/defs%3E%3Ctitle%3Estep-over%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/%3E%3Cpath class='icon-vs-bg' d='M10 13a2 2 0 1 1-2-2 2 2 0 0 1 2 2z' id='iconBg'/%3E%3Cpath class='icon-vs-action-blue' d='M15 2v6H9V6h2.237a4.481 4.481 0 0 0-8.186 2H1.025A6.482 6.482 0 0 1 13 5.069V2z' id='colorAction'/%3E%3C/svg%3E");
}

.pb-debugger-step-into-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23252526}.icon-canvas-transparent{opacity:0}.icon-vs-bg{fill:%23c5c5c5}.icon-vs-action-blue{fill:%2375beff}%3C/style%3E%3C/defs%3E%3Ctitle%3Estep-into%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/%3E%3Cpath class='icon-vs-bg' d='M8 11a2 2 0 1 1-2 2 2 2 0 0 1 2-2z' id='iconBg'/%3E%3Cpath class='icon-vs-action-blue' d='M12.03 6.28L8 10.311 3.97 6.28l1.06-1.06L7 7.189V1h2v6.189l1.97-1.97z' id='colorAction'/%3E%3C/svg%3E");
}

.pb-debugger-step-out-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23252526}.icon-canvas-transparent{opacity:0}.icon-vs-bg{fill:%23c5c5c5}.icon-vs-action-blue{fill:%2375beff}%3C/style%3E%3C/defs%3E%3Ctitle%3Estep-out%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 16H0V0h16z' id='canvas'/%3E%3Cpath class='icon-vs-bg' d='M8 11a2 2 0 1 1-2 2 2 2 0 0 1 2-2z' id='iconBg'/%3E%3Cpath class='icon-vs-action-blue' d='M3.97 4.72L8 .689l4.03 4.03-1.06 1.061L9 3.811V10H7V3.811L5.03 5.78z' id='colorAction'/%3E%3C/svg%3E");
	display: none !important;
}

.pb-debugger-stop-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23252526}.icon-canvas-transparent{opacity:0}.icon-vs-action-red{fill:%23f48771}%3C/style%3E%3C/defs%3E%3Ctitle%3Estop%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/%3E%3Cpath class='icon-vs-action-red' d='M13 3v10H3V3z' id='iconBg'/%3E%3C/svg%3E");
}

.selected {
	background: #2196f34a;
	color: #ffffff;
}

#pb-code-editor-code-mirror-wrapper {
	position: relative;
	flex: 1;
}

#pb-code-editor-code-mirror {
	position: absolute;
	width: 100%;
	height: 100%;
}

#pb-code-editor-error {
	font-family: monospace;
	overflow: auto;
	background: #cc0000;
	color: #eeeeee;
	padding: 1em;
}

/* CodeMirror styles */
.CodeMirror {
	width: 100%;
	height: 100%;
	font-family: Monaco, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px
}

.CodeMirror-gutter {
	margin-right: 0.5em;
}

.gutter-breakpoints {
	width: 16px;
}

.highlighted-line {
	background:lightcoral;
}

.pb-debugged-line {
	background: #2196f34a;
}

.compiler-error {
	text-decoration: underline red;
}

/* Splitpane styles */
/** Split pane housing a CodeEditor, FileEditor, FolderEditor or DescriptionEditor on the left, and the Preview on the right **/
.pb-split-pane {
	position: relative;
	width: 100%;
	height: 100%;
}

.pb-split-pane-left, .pb-split-pane-right {
	position: absolute;
	width: 50%;
	height: 100%;
}

.pb-split-pane-right {
	left: 50%;
	z-index: 8;
}

#pb-split-pane-toggle {
	display: none;
	cursor: pointer;
    z-index: 8;
    background-color: #333;
    color: #ccc;
    position: absolute;
    top: 50%;
    width: 24px;
    left: -7px;
    text-align: center;
    border-radius: 3px;
}

.pb-split-pane-collapsed #pb-split-pane-toggle {
	left: -14px;
	border-radius: 3px 0 0 3px;
}

.pb-divider {
	position: absolute;
	width: 10px;
	height: 100%;
	left: 50%;
	background: #252526;
	z-index: 9999;
	cursor: ew-resize;
}

.pb-split-pane .pb-editor-pane {
	height: 100%;
	overflow: auto;
}

/** Dialogs **/
.pb-dialog {
	position: fixed;
	z-index: 10001;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.2);
}

.pb-dialog-content {
	position: relative;
	margin: auto;
	width: 30%;
	min-width: 400px;
	padding: 20px;
	background-color: #252526;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

.pb-dialog-header {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.pb-dialog-body {
}

.pb-dialog-footer {
}

.pb-dialog-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.pb-dialog-buttons input {
	padding: 0.5em 1em;
	margin-left: 5px;
	outline: 0;
	border: none;
	background: none;
	font-size: 16px;
	color: #aaaaaa;
	cursor: pointer;
}

.pb-dialog-buttons input:hover {
	color: #ffffff;
}

.pb-dialog-error {
	color: #ff0000;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
	background-color: #252526;
	border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 20000;
	top: 33px;
	left: -15px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #aaaaaa;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: #ffffff;
}